<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nprime.reg.sbi.face">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NPrimeTheme">
        <activity android:name="nprime.reg.sbi.googlevision.CameraActivity"/>
        <activity android:name="nprime.reg.sbi.mds.DeviceMain" />
        <activity android:name="nprime.reg.sbi.faceCaptureApi.FaceCaptureActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="sbi.reg.device" />
                <action android:name="com.nprime.reg.face.info" />
                <action android:name="com.nprime.reg.face.rcapture" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>